<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jeonghyeon.msa.memo.repository.mapper">
    <select id="count" resultType="Long">
        SELECT COUNT(*)
        FROM (
            SELECT memo_id
            FROM memo
            WHERE memo.users_id = #{usersId}
            LIMIT #{limit}
         )
    </select>
    <select id="getMemos" resultType="jeonghyeon.msa.memo.dto.request.MemoDto">
        SELECT
            title, content, start_date, end_date
        FROM (
            SELECT id
            FROM memo
            WHERE users_id = #{usersId}
            ORDER BY id DESC
            LIMIT #{limit}
            OFFSET #{offset}
         ) t
        LEFT JOIN memo ON t.id = memo.id
    </select>


</mapper>